*{
    background-color: rgb(19, 19, 139);
    margin: 10px;
    padding: 0px;
}
#Header {
    color: white;
    height: 150px;
    float:left;
    background-color: rgb(156, 30, 13);
    margin-top:15px;
   margin:15px;
   height: 60px;
   border-radius: 15px;
    width: 100%;
}
h1{
    background-color: rgb(156, 30, 13);
    margin-top:center;
}

#sidebar{
    background-color: lightseagreen;
    height:220px;
    width: 180px;
    border-radius: 25px;
    display:inline-block;
    vertical-align:top;
    padding:20px;
    
}
#list1{
    background-color: lightseagreen;
    display: block;
    margin: 2px;
    color: lightskyblue;
}
#a{
    color:lightskyblue;
    background-color:lightseagreen;
    margin:3px;
    margin-left:5px;
}
#home{
    color: lightskyblue;
    background-color: lightseagreen;
    margin-top:10px;
}
#pb{
    color: darkblue;
    display: inline;
    background-color: rgb(5, 5, 27);
}
#content{
    background-color: rgb(5, 5, 27);
    border-radius: 25px;
    color: white;
    display:inline-block;
    vertical-align:top;
    width: 1000px;
    height: 450px;
    padding:20px;
}
#con{
    background-color: rgb(5, 5, 27);
    color: white;
    display:inline;
}

#a2{
    background-color: rgb(5, 5, 27);
    color: lightskyblue;
}
#bottombar{
    display:inline-block;
    background-color:grey;
    border-radius:25px;
    width:100%;
    height:20px;
    padding:10px;
}
#bp{
    display:inline;
    background-color: grey;
    vertical-align:center;
}
